$fontfoc: 'Montserrat Alternates', sans-serif;
$fontmarl: 'Marck Script', cursive;
$fontLat: 'Lato', sans-serif;

body{
    margin: 0;
}

header{
    background: url(../../img/rectangle_3_962.png);
    background-size: 100%;
    height: 49em;
}

.header_log_nav_link{
    display: flex;
    justify-content: space-around;
}

.header__logo{
    margin-top: 15px;
}

.header__nav{
    margin: 25px 0 0 15em;
    ul{
        display: flex;
        justify-content: space-between;
        margin: 0;
        li{
            list-style: none;
            margin: 0 42px 0 0;
            p{
                a{
                    color: white;
                    font-family: $fontfoc;
                    text-decoration: none;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}

.header__link{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    p{
        margin: 0 30px 0 0;
    }
}

.header_main{
    .header__title{
        display: flex;
        justify-content: center;
        text-align: center;
        h1{
            font-family: $fontmarl;
            color: white;
            font-size: 90px;
            text-shadow: 0px 1px 2px rgba(1,1,1,0.63);
            opacity: 0.92;
            font-weight: 400;
        }
    }
}

.header_main__decoration{
    display: flex;
    justify-content: center;
}

.header_main_button{
    display: flex;
    margin: 5em 0em 0 0;
    .header_main_button_fis{
        margin: 0 1.25em 0 auto;
    }

    .header_main_button_sec{
        margin: 0 auto 0 1.25em;
    }

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 228px;
        height: 57px;
        border: 1px solid #ffffff;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
        margin: 0 auto;

        &:hover{
            background-color: rgba(251,82,49,0.5);
        }
        p{
            font-family: $fontfoc;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
        }
    }
}

.about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../../img/background_399.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 52em;
    .about__title{
        margin: 110px 0 0 0;
        h3{
            font-family: $fontmarl;
            font-size: 42px;
            line-height: 24px;
            font-weight: 400;
            color: #fb5231;
        }
    }
    .about__decoration{
        margin: 20px 0 0 0;
        img{

        }
    }
    .about__text{
        margin: 35px 0 0 0;
        p{
            font-family: $fontLat;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            color: #4c4c4c;
            text-align: center;
        }
    }
    .about__cookImg{
        margin: 42px 0 0 0;
        img{

        }
    }
}

.ingredients{
    display: flex;
    justify-content: space-evenly;
    .ingrediets__img{
        img{
            margin: 14em 0 0 0;
        }
    }

    .ingredients__main{
        height: 47em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-image: url(../../img/bg_434.png);
        .ingredients__main__title{
            margin: 100px 0 0 0;
            h3{
                font-family: $fontmarl;
                font-size: 45px;
                line-height: 1.2;
                font-weight: 400;
                color: #ffffff;
                
            }
        }
        .ingredients__main__decoration{
            margin: 10px 0 0 0;
            img{

            }
        }
        .ingredients__main__text{
            margin: 30px 0;
            p{
                margin: 0 88px;
                text-align: center;
                font-family: $fontLat;
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
                color: #ffffff;
            }
        }
        .ingredients__main__img{
            img{

            }
            .ingredients__main__img__sec{
                margin: 0 25px;
            }
        }
    }
}

.menu{
    background-color: yellow;
}

.reviews{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .reviews__title{
        .reviews__title__img{
            margin: 140px 0 0 0;
            img{

            }
        }
        .rewiews__title__text{
            h3{
                text-align: center;
                font-family: $fontmarl;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 400;
                color: #333333;
            }
        }
    }
    .reviews__decoration{
        img{

        }
    }
    .rewiews__text{
        p{
            font-family: $fontfoc;
            font-size: 25px;
            line-height: 45px;
            font-weight: 400;
            color: #1a1f3b; 
        }
    }
    .rewiews__phare{
        h4{
            font-family: $fontmarl;
            font-size: 41px;
            line-height: 45px;
            font-weight: 400;
            color: #1a1f3b;
        }
    }
    .rewiews__stars{
        margin: 0 0 150px 0;
        img{

        }
    }
}